<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description" content="Webpage description goes here" />
  <meta charset="utf-8">
  <title>Cambot-Manager</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Maurice Meier">
  <link rel="stylesheet" href="/css/style.css">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/js/cambot_comunication.js"></script>
</head>

<body onload="on_page_loaded()">
    <div class="container">
        <div class="content">
            <div class="left">
                <div class="status">
                    <a id="status">Status</a>
                </div>
                <div class="reset">
                    <button class="reset_btn" onclick="reset_click()">Reset</button>
                </div>          
            </div>
            <div class="right">
                <div class="inventory_boarder">
                    <h2>Momentanes Inventar</h2>
                    <ul id="inventory"></ul>
                </div>
            </div>
        </div>
        <div class="top">
            <div class="title">
                <h1 class="title">Cambot-Manager</h1>
            </div>
        </div>
    </div>
<script>
</script>

</body>
</html>